[Unit]
Description=notifi.it
Requires=network.target
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/root/notifi.it/
ExecStart=/usr/local/bin/notifi
ExecReload=/bin/kill -SIGINT $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target