<div class="row">
    <div class="col s12 l6">
        <h3>What is notifi?</h3>
        notifi is a free, minimal and <a target="_blank" href="https://github.com/maxisme/notifi">open source</a> notification app for MacOS, Android, iOS and Linux.
        <h3>Why do I need notifi?</h3>
        Here are just a few times you may need notifi:
        <ul>
            <li>- To notifi you that a machine learning model has finished training.</li>
            <li>- To notifi you of a change in a website you are scraping.</li>
            <li>- To notifi you that someone has logged into your server.</li>
            <li>- To notifi you that renewing your SSL certificate failed.</li>
        </ul>
        notifi is designed to make it super simple for you to receive notifications from your apps and scripts.
        <h3>Feel like there is something to be improved?</h3>
        <p class="info">
            notifi is built with Flutter and Golang - contribute on <a target="_blank" href="https://github.com/maxisme/notifi">GitHub</a>.
        </p>
    </div>

    <div align="center" class="col s12 l6">
        <img class="notification-img" src="images/notifications.png">
    </div>
</div>
<style>
    .notification-img {
        display: block;
        max-height: 700px;
        width: auto;
        height: auto;
    }
</style>
