<div class="row">
    <div align="center">
        <a href="https://github.com/maxisme/notifi/releases">Releases</a>
    </div>
    <div align="center" class="row">
        <div class="col s12 m6 l3">
            <h3>MacOS</h3>
            <p>
                <a class="download-mac downloads">DOWNLOAD APP</a>
            </p>
<!--            <p>-->
<!--                <img style="border: none;" height="400px" src="https://raw.githubusercontent.com/maxisme/notifi/master/screenshots/macos/macos.png">-->
<!--            </p>-->
        </div>

        <div class="col s12 m6 l3">
            <h3>iOS</h3>
            <a target="_blank" class="downloads" href="https://apps.apple.com/us/app/notifi/id1563961135">
                <img style="border: none"
                     width="140px"
                     src="https://developer.apple.com/app-store/marketing/guidelines/images/badge-example-preferred_2x.png"/>
            </a>
<!--            <p>-->
<!--                <img style="border: none;" height="400px" src="https://raw.githubusercontent.com/maxisme/notifi/master/screenshots/ios/1.png">-->
<!--            </p>-->
        </div>

        <div class="col s12 m6 l3">
            <h3>Android</h3>
            <a target="_blank" class="downloads" href="https://play.google.com/store/apps/details?id=it.notifi.notifi">
                <img style="border: none; margin: -10px"
                     height="70px"
                     src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"/>
            </a>
<!--            <p>-->
<!--                <img style="border: none;" height="400px" src="https://raw.githubusercontent.com/maxisme/notifi/master/screenshots/android/1_framed.png">-->
<!--            </p>-->
        </div>

        <div class="col s12 m6 l3">
            <h3>Linux</h3>
            <a target="_blank" class="downloads" href="https://snapcraft.io/notifi">
                <img style="border: none"
                     width="160px" src="https://snapcraft.io/static/images/badges/en/snap-store-black.svg" />
            </a>
        </div>
    </div>
</div>

<style>
    .download-mac {
        font-weight: 900;
        border: #2f2f2f 5px solid !important;
        padding: 5px;
    }

    .download-mac:hover {
        border: #2f2f2f 5px dashed !important;
    }

    .downloads {
        border-bottom: none;
    }
</style>

<script>
    $(document).ready(function () {
        function iOS() {
            return [
                    'iPad Simulator',
                    'iPhone Simulator',
                    'iPod Simulator',
                    'iPad',
                    'iPhone',
                    'iPod'
                ].includes(navigator.platform)
                // iPad on iOS 13 detection
                || (navigator.userAgent.includes("Mac") && "ontouchend" in document)
        }

        var isMac = navigator.platform.toUpperCase().indexOf('MAC') >= 0;

        /* only add link for macos */
        if (!iOS() && isMac) {
            $(".download-mac").attr("href", "download");
        } else {
            $(".download-mac").css("color", "grey");
            $(".download-mac").css("border", "none !important");
        }
    });
</script>