<div class="row">
    <div class="row valign-wrapper">
        <div class="col s12 l6 push-l6 valign" align="center">
            <strong>Sending your first notification using the Terminal.</strong>
        </div>
        <video class="col s12 pull-l6 l6" loop autoplay muted>
            <source src="images/hello-world.mp4" type="video/mp4">
        </video>
    </div>

    <div class="col s12 l6">
        <h3>What is notifi?</h3>
        notifi is a FREE, minimal notification app for MacOS and iOS (android, windows & ubuntu coming soon...).
        <h3>Why do I need notifi?</h3>
        Here are just a few times you may need notifi:
        <ul>
            <li>To notifi you that a machine learning model has finished training.</li>
            <li>To notifi you of a change in your web scraper.</li>
            <li>To notifi you that someone has logged into your server.</li>
            <li>To notifi you that renewing your SSL certificate failed.</li>
        </ul>
        <h3>Want to know more?</h3>
        <p class="info">
            notifi is built with flutter and open source on <a target="_blank" href="https://github.com/maxisme/notifi">GitHub</a>.
        </p>
    </div>

    <div align="center" class="col s12 l6">
        <img src="images/notifications.png" height="100%">
    </div>
</div>
