<div class="row">
    <div class="col s12 l6">
        <h3>What is notifi?</h3>
        notifi is a FREE, minimal notification app for MacOS and iOS (android, windows & ubuntu coming soon...).
        <h3>Why do I need notifi?</h3>
        Here are just a few times you may need notifi:
        <ul>
            <li>- To notifi you that a machine learning model has finished training.</li>
            <li>- To notifi you of a change in a website you are scraping.</li>
            <li>- To notifi you that someone has logged into your server.</li>
            <li>- To notifi you that renewing your SSL certificate failed.</li>
        </ul>
        <h3>Feel like there is something you can improve?</h3>
        <p class="info">
            notifi is built with flutter and open source on <a target="_blank" href="https://github.com/maxisme/notifi">GitHub</a>.
        </p>
    </div>

    <div align="center" class="col s12 l6">
        <img class="notification-img" src="images/notifications.png">
    </div>
</div>
<style>
    .notification-img {
        display: block;
        max-height: 700px;
        width: auto;
        height: auto;
    }
</style>
