<div align="center" class="row">
    <div align="center" class="row valign-wrapper">
        <div class="col s12 l6">
            <a class="download-mac downloads">DOWNLOAD FOR MACOS</a>
        </div>

        <div class="col s12 l6">
            <a target="_blank" class="downloads" href="https://apps.apple.com/us/app/notifi/id1563961135">
                <img style="border: none"
                     width="200px"
                     src="https://developer.apple.com/app-store/marketing/guidelines/images/badge-example-preferred_2x.png"/>
            </a>
        </div>
    </div>
</div>
<style>
    .download-mac {
        font-weight: 900;
        border: #2f2f2f 5px solid !important;
        padding: 5px;
    }

    .download-mac:hover {
        border: #2f2f2f 5px dashed !important;
    }

    .downloads {
        border-bottom: none;
    }
</style>
<script>
    $(document).ready(function () {
        function iOS() {
            return [
                    'iPad Simulator',
                    'iPhone Simulator',
                    'iPod Simulator',
                    'iPad',
                    'iPhone',
                    'iPod'
                ].includes(navigator.platform)
                // iPad on iOS 13 detection
                || (navigator.userAgent.includes("Mac") && "ontouchend" in document)
        }

        var isMac = navigator.platform.toUpperCase().indexOf('MAC') >= 0;

        /* only add link for macos */
        if (!iOS() && isMac) {
            $(".download-mac").attr("href", "download");
        } else {
            $(".download-mac").css("color", "grey");
            $(".download-mac").css("border", "none !important");
        }
    });
</script>